@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 48%
    left: -10%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
    width: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 33%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $white !important  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $color-sistema-texto !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $white !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
figcaption 
    font-weight: normal !important

.banner-interno__titulo__icono i
    color: $color-acento-botones !important;

.bloque-texto-d__autor, .bloque-texto-e__autor
  text-align: left !important
.bloque-texto-e i
  color: #BBC3DC !important
.bloque-texto-e.bg-color-4 i
  color: $color-acento-contenido !important
.text-sistema,
.pasos-a.color-acento-contenido .pasos-a__circle div
  color: $color-sistema-texto !important
.tarjeta.color-acento-contenido *
  color: $color-sistema-texto !important
.tarjeta.color-adicional-1
  background-color: #104936 !important
.lista-ul--color li > i.icon-list:first-of-type
  color: $color-primario !important
.lista-ul--color li > i.icon-list-2:first-of-type
  color: $color-primario !important
  font-size: 7px
  top: 9px;
.lista-ul--color li > i.icon-list-3:first-of-type
  color: $white !important
.slyder-f__btn i 
    color: $color-acento-botones
.tabla-b.color-primario thead tr
    background-color: $color-secundario !important
.tabla-b.color-primario thead tr th
    text-align: center !important
    color: $white
.tabla-b tr:nth-child(even), .tabla-c tr:nth-child(even)
    background-color: #fff !important
.tabla-b tr:nth-child(odd), .tabla-c tr:nth-child(odd)
    background-color: #F6F6F6
.linea-tiempo-d .tarjeta 
  background-color: #FCE2B5 
.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #C0F1E1 !important
.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  color: $color-sistema-texto 
.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item__number
  background-color: $color-acento-botones 
.circl-arrow .slyder-f__btn i
    font-size: 1.2rem
    background-color: $color-acento-botones 
    color: $color-sistema-texto
    height: 46px
    width: 46px
    padding: 5px
    border-radius: 500px
    display: flex
    justify-content: center
    align-items: center
.fa-thread
    content: url('../assets/curso/temas/bg/3.svg')
    align-self: flex-start !important
    font-size: 12px
.fa-thread-white
    content: url('../assets/curso/temas/bg/4.svg')
    align-self: flex-start !important
    font-size: 12px
.slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: $color-acento-botones;
    border: 0;
.slyder-a__bullets__item 
    background-color: $color-acento-contenido
    border: 0;

.slyder-a__bullets__item--active
    background-color: $color-acento-botones;
    border: 0;

.acordion__accion__btn--b
    background-color: $color-acento-botones !important;
    border: 0
    
.tarjeta.bg-brown
  background-color: $color-primario
.acordion__titulo h3
  color: $white !important

.tarjeta.bg-brown.acordion__activo
  background-color: #C0F1E1
.tarjeta.bg-brown.acordion__activo .acordion__titulo h3
  color: $color-sistema-texto !important

.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none
.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #24A77C
  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first
  &::before
    background-color: #C0F1E1 !important
.crd--last
  &::before
    background-color: #104936 !important
.crd--first
  &::before
    border-top-left-radius: 30px
.crd--last
  &::before
    border-bottom-left-radius: 30px
/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.p-full-width-2
  padding: 1.8rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url(../assets/curso/temas/bg/2.svg)
    background-position: center
  &-2
    background-image: url(../assets/curso/temas/bg/5.png)
    background-position: center

.bg-color
  &-1
    background-color: $color-primario
  &-2
    background-color: $color-secundario
  &-3
    background-color: #ECF2FB
  &-4
    background-color: #C1C5CB
  &-5
    background-color: $color-adicional-1
  &-6
    background-color: #C0F1E1
  &-7
    background-color: #141A22
  &-8
    background-color: #fff

.br
  &-1
    border-top-left-radius: 80px !important
  &-2
    border-top-left-radius: 50px !important
  &-3
    border-top-right-radius: 80px !important
  &-4
    border-radius: 30px !important
  &-5
    border-top-right-radius: 40px !important
    border-bottom-right-radius: 40px !important

.pcus
  &-1
    padding: 4rem !important;
  
.hcard
  &-1
    height: 440px !important
.mgcus
  &-1
    margin-bottom: 1.3rem !important;
  &-2
    margin-bottom: 2.5rem !important;
.wcus
  &-1
    width: 90%
  &-2
    width: 12%
  &-3
    width: 10% !important
  &-4
    width: 30% !important
  &-5
    width: 90%


.reverse
    display: flex;
    align-items: end;
    flex-direction: column;

.titulo-tercer-nivel
  width: fit-content
  max-width: 100%
  position: relative
  display: inline-flex
  align-items: center
  background-color: $color-acento-contenido
  border-radius: 30px
  padding-right: 16px
  padding-left: 52px
  min-height: 48px
 
  @media screen and (max-width: $bp-min-md)
    padding-left: 0px


  &__icon
    position: absolute
    left: 0px
    top: 50%
    transform: translateY(-50%)
    width: 48px
    max-width: 85px
    height: auto

    @media screen and (max-width: $bp-min-md)
      display: none

  &__text
    margin: 0
    margin: 0 15px 0 10px
    white-space: normal
    word-break: break-word
/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important
  .pcus
    &-1
      padding: 2rem !important;
  
  .tarjeta--container > .tarjeta:first-child,
  .tarjeta--container > .tarjeta:last-child,
  .tarjeta--container > .tarjeta
    border-radius: 20px !important
    margin-bottom: 2em
  .bloque-texto-g
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  .br
    &-1,&-2,&-3,&-4
      border-radius: 0px !important
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  
  .reverse
    display: flex;
    align-items: start;
    justify-content: start
  


//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

  
 